@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    background: url('https://static.wixstatic.com/media/2f2c48_a7f6abcd87d14bd2a5b7f49d11f20c22~mv2.gif');
    background: cover;
    background: no-repeat;
}

/* MENU */
header{
    background-color: #45dbfc;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}

header nav{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

header nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
}

header nav a:hover{
    color: black;
}

/* SECTIONs */
.sections{
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    padding: 32px;
}


.sections #name{
    font-size: 35px;
}

.sections #description{
    font-size: 16px;
    padding: 20px;
    text-align: justify;
    line-height: 1.6; 
    font-weight: 400;
}

.sections #my-photo{
    padding: 0 0 20px 0;
}

.sections #my-photo img{
    width: 350px;
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
}


.description{
    background: url('https://image.freepik.com/vetores-gratis/fundo-de-tecnologia-hud-abstrato-azul_52683-21166.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    color: white;
    padding: 15px;
    border-radius: 10px;    
    box-shadow: 0 3px 40px 10px rgba(0, 0, 0, 0.2);
    
}

#description{
    background: rgba(0, 0, 0, 0.5);
}



.sections h2{
    text-align: center;
    margin-bottom: 30px;
}

.sections p{
    font-size: 22px;
}

.sections h3{
    font-size: 20px;
}

/* Logos */
.sections h2{
    font-size: 50px;
}

.tecnhologies{
    text-align: center;
}

#logos tecnhologies {
    display: inline-block;
    padding: 12px 12px;
    padding-bottom: 25px;
}

#logos a{
    text-decoration: none;
}

#logos img {
    width: 150px;
    padding: 10px;
    transition: all ease 0.5s;
}

#logos img:hover {
    /* box-shadow: 0 3px 40px 10px rgba(0, 0, 0, 0.2); */
    opacity: 0.5;
    transform: scale(1.2) translateY(-10px);
} 


/* Extra - calculadora de conversão */
.container-form{
    
    border: 2px solid black;
    background-color: #008641;
    
	padding-bottom: 10px;
	width: 60%;
	margin: 0 auto;	
	border-radius: 10px;	
}

.container-form h4{
    text-align: center; 
    padding: 10px 0;
    border-radius: 10px;
    color: white;
    background:black;
    font-size: .88rem;
}

.container-form > form{
	padding-top: 25px;
	text-align: center;	
}

.container-form .lb-nome{
	color: white;
    font-size: 35px;
	font-weight: 700;
}

.container-form input[type=text]{
	border-radius: 10px;
	height: 50px;   
    width: 50%;
    text-align: center;
    font-weight: 700;

}

.container-form #labelDolar{
	color: white;
}

.container-form .real{
    text-align: center;
    font-weight: 700;
}

.container-form #dolar{
    color: #008641;
    font-size: 30px;
}

.container-form #resultado{
    color: #c3000d;
    font-size: 30px;
}

.container-form input[type=button]{
    width: 150px;
    height: 60px;
    border-radius: 8px;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}



/* Footer */

footer {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    /* display: flex;
    justify-content: space-between; */
    margin-top: 30px;
    
}

footer iframe {
    width: 100%;
    height: 250px;
}
#message{
    text-align: center;
    font-size: 14px;
    margin: 15px 0 0 0;   
}

#footer{
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 12px;
}


@media only screen and (min-width: 991px){

    .sections{
        width: 60%;
    }

    .sections #description{
        font-size: 20px;
    }

    header nav{
        width: 50%;
    }

    header nav a{
        font-size: 22px;
    }

    .container-form h4{
        font-size: 2.1rem;
    }

    .container-form .lb-nome{
        font-size: 35px;
    }
    
    .container-form input[type=text]{
        height: 40px;   
        width: 40%;    
    }
    
    .container-form #dolar{
        font-size: 30px;
    }
    
    .container-form #resultado{
        font-size: 30px;
    }
    
    .container-form input[type=button]{
        width: 150px;
        height: 50px;
        
        font-size: 28px;
    }

    #message{
        font-size: 20px; 
    }

}