@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* MENU */
header{
    background-color: #45dbfc;
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}

header nav{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

header nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

header nav a:hover{
    color: black;
}

/* SECTIONs */
.sections{
    width: 80%;
    margin: auto;
    padding: 32px;
}

.sections #name{
    font-size: 35px;
}

.sections #description{
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;    
    
}
.sections #my-photo{
    padding: 0 0 20px 0;
}
.sections #my-photo img{
    width: 300px;
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
}


.description{
    background-color: #5DABFA;
    padding: 30px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 3px 40px 10px rgba(0, 0, 0, 0.2);
}

.sections h2{
    text-align: center;
    margin-bottom: 32px;
}

.sections p{
    font-size: 22px;
}

.sections h3{
    font-size: 20px;
}

/* Cursos */
/* #courses div{
    display: flex;
    justify-content: space-between;
}

#courses .course{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 280px;
    padding: 16px;
    border-radius: 3px;
}

#courses div p{
    font-size: 16px;
}

#courses div a{
    background-color: tomato;
	text-align: center;
	padding: 16px 0;
	margin-top: 16px;
	border-radius: 4px;
	color: white;
	text-decoration: none;
	font-size: 18px;
}

#courses div a:hover{
    opacity: 0.9;
}*/

/* Logos */
.sections h2{
    font-size: 32px;
}

#logos div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 12px 12px;
}
#logos .top{
    padding-bottom: 25px;
}

#logos img {
    width: 200px;
}

#logos img:hover {
    box-shadow: 0 3px 40px 10px rgba(0, 0, 0, 0.2);
} 


/* Extra - calculadora de conversão */
.container-form{
	background: #5DABFA;
	padding-bottom: 10px;
	width: 40vh;
	margin: 0 auto;	
	border-radius: 10px;	
}

.container-form h4{
    text-align: center;
    padding-top: 10px;
    color: white;
}

.container-form > form{
	padding-top: 12px;
	text-align: center;	
}

.container-form .lb-nome{
	color: white;
	font-weight: bold;
}

.container-form input[type=text], input[type=button]{
	border-radius: 10px;
	height: 30px;   
}

.container-form input[type=button]{
    width: 80px;
}



/* Footer */

footer {
    width: 100%;
    /* background-color: #45dbfc; */
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

footer iframe {
    width: 100%;
    height: 300px;
}

#footer{
    margin: 10px 0 0 0;
    font-size: 16px;
}

/* #class {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 8px;
    border-radius: 3px;
} */